body {
  font-family: Rubik;
}

::-webkit-scrollbar {
  width: 7px;
}
  
::-webkit-scrollbar-track {
  background: transparent;
}
  
::-webkit-scrollbar-thumb {
  background: #00647D;
  border-radius: 2px;
}
  
::-webkit-scrollbar-thumb:hover {
  background: #555;
}