@function theme($key) {
  @if map-has-key($theme, $key) {
    @return map-get($theme, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

$theme: (
  main: #0883a2,
  main_dark: #00647d,
  sky: #00afdb,
  aqua: #00af97,
  gold: #e5b227,
  violet: #826577,
  rose: #a50034,
  light: #e3e3e3,
  gray: #c6cbcc,
  dark: #28353a,
  black: #262626,
);
